/* =========== contact section =========== */

.contact {
    margin-bottom: 3rem;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info,
.contact-form {
    width: 50%;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-item i {
    font-size: 24px;
    margin-right: 15px;
    color: var(--primary);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(138, 8, 224, 0.1);
    border-radius: 50%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    color: var(--text-primary);
    font-size: 16px;
    transition: border 0.3s, box-shadow 0.3s;
}

.form-group textarea {
    height: 7rem;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 10px rgba(138, 8, 224, 0.3);
}

@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }
}
@media (max-width: 576px) {
    .contact-info, .contact-form {
        width: 100%;
    }
}